.check_img{
	width:30%;
	height:35.5px; 
	display:inline-block;
	margin-bottom:2px;
	padding:0;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: rgb(0, 0, 0);
}

.head_font{
	color:#FFF; 
	font-weight:700;
	font-size:200%;
	margin:22px 0 2px 0;
	display:block;
	border:0px solid greend;
}
.header,.footer{
	width:76%;
	height:70px;
	border:0px solid red;
	margin:0 auto;
	text-align:center 
}
.footer_font{
	color:#FFF; 
	font-weight:700;
	font-size:100%;
	margin:20px 0 20px 0;
	display:block
}

div.panel-body:hover {
	text-decoration: none;
}
.submit_is{
	display:line-block;
	float:right ;
	background-color:#1bd01b;
	color:white;
	border-radius:3px; padding:0px;
	width:28%;
}
a.submit_is:active{
background:red;
}
.submit_no{
	display:line-block;
	float:right ;
	background-color:#f39d08;
	color:white;
	border-radius:3px; padding:0px;
	text-align:center;
	width:26%;
}