.check_img{
	width:30%;
	height:35.5px; 
	display:inline-block;
	margin-bottom:2px;
	padding:unset;
}

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
	background-color: rgb(0, 0, 0);
}

.head_font{
	color:#DCF00A; 
	font-weight:700;
	font-size:200%;
	margin:22px 0 2px 0;
	display:block;
	border:0px solid greend;
}
.header,.footer{
	width:76%;
	height:70px;
	border:0px solid red;
	margin:0 auto;
	text-align:center 
}
.footer_font{
	color:#FFF; 
	font-weight:700;
	font-size:100%;
	margin:20px 0 20px 0;
	display:block
}